<!DOCTYPE html>
<html lang="en">

<head>
  {{sndmap.js}}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>A Night Out in Town</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename = 'css/style.css')}} " rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">


</head>

<body>

  <!-- Navigation -->
  {% include "nav.html" %}

  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-12">
        {{sndmap.html}}
      </div>

    </div>

  </div>

  <!-- the result cards -->
  <div class="container">
    <div class="row">
      {% for event in event_response %}
      <div class="col-sm-4 space">
        <div class="card mx-auto" style="width: 18rem;">
          <img src="{{event['image_url']}}"
            onerror="this.src= '{{url_for('static', filename = 'images/pineapple.jpg')}}';" style="height:300px"
            class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{event['name']}}</h5>
            <p class="card-text">{{event['description']}}</p>
            {% if event['cost'] is none %}
            <p class="card-text"><strong>Cost: </strong> Free.99! </p>
            {% else %}
            <p class="card-text"><strong>Cost: </strong> ${{event['cost']}}0 </p>
            {% endif %}
            <p class="card-text"><strong>Address: </strong> {{event['location']['display_address'][0]}}</p>
            <a href="{{event['event_site_url']}}" class="btn btn-primary">Go to event on Yelp</a>
          </div>
        </div>

      </div>
      {% endfor %}
    </div>
  </div>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Jessica Pichardo 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>

</html>